input {
    border-color: #8eb175 !important;
    min-height: 40px;
    &.modern {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        background: #f4f7fc;
        box-shadow: none;
        &:focus, &:hover {
            box-shadow: none;
        }
    }
  }
